/* Paleta de colores 
Verde Jade: #00A86B
Azul 1: #009DCF
Azul 2: #86BEDA
*/

// Color Variables
$verde-jade: #00A86B;
$azul-1: #009DCF;
$azul-2: #86BEDA;

ion-content {

    --background: url('/assets/img/ImagenLogin.jpg') no-repeat center center fixed;
    --background-size: cover;
    --background-color: $azul-2;
    --justify-content: center;
    --align-items: center;
}

ion-card {
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 15px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 90%;
    max-width: 400px;
    justify-content: center;
    align-items: center;

}

ion-card-header {
    text-align: center;
    color: $verde-jade;
}

ion-button {
    &.button-primary {
        background-color: $verde-jade;
        color: #fff;
    }

    &.button-secondary {
        background-color: $azul-1;
        color: #fff;
        border: 2px solid $azul-1;
    }

    &.button-secondary[fill="outline"] {
        background-color: transparent;
        color: $azul-1;
        border: 2px solid $azul-1;
    }
}

ion-text a {
    color: $verde-jade;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}